.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #f0f0f0;
  a {
    font-size: 35px;
    font-weight: bold;
    color: #000;
  }
  .menuLink {
    display: flex;
    gap: 20px;
    a {
      font-size: 16px;
      color: #000;
      font-weight: regular;
      &:hover {
        color: rgb(78, 78, 78);
      }
    }
  }
  .themeBtn {
    background: #f0f0f0;
    border: 1px solid #515151;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background: #e0e0e0;
    }
  }
}

.main {
  .modFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    &--left {
      justify-content: flex-start;
      gap: 30px;
      align-items: center;
    }
  }
  &__inner {
    padding: 100px 30px;
    max-width: 1400px;
    margin: auto;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
    .modFlex {
      a {
        font-size: 16px;
        color: rgb(78, 78, 78);
        background: #fff;
        padding: 5px 10px;
        border: 1px solid rgb(78, 78, 78);
        border-radius: 50em;
        &.disabled{
          background: rgb(155, 155, 155);
          color: #ffffff;
          pointer-events: none;
        }
        &:hover {
          background: rgb(78, 78, 78);
          color: #fff;
        }
      }
    }
  }
  .postList {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    &__item {
      width: calc(( 100% - 60px ) / 4);
      background: rgb(237, 237, 237);
      border-radius: 20px;
      &__img {
        aspect-ratio: 1 / 1;
        width: 80%;
        margin: auto;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;
        }
      }
      &__text {
        padding: 20px;
        .title {
          font-size: 18px;
          margin-bottom: 10px;
        }
        .price {
          font-size: 16px;
          color: rgb(78, 78, 78);
        }
        .learnMoreBtn {
          padding: 5px 10px;
          background: white;
          display: inline-block;
          border-radius: 50em;
          border: 1px solid rgb(78, 78, 78);
          color: #000;
          &:hover {
            background: rgb(78, 78, 78);
            color: #fff;
          }
        }
        .tag {
          background: #fff;
          color: #000;
          font-size: 10px;
          border: 1px solid #515151;
          border-radius: 5px;
          padding: 3px;
          &__container {
            margin-top: 20px;
            display: flex;
            gap: 10px;
          }
        }
      }
    }
  }
  .itemDetail {
    max-width: 1060px;
    margin: 100px auto;
    padding: 30px;
    display: flex;
    gap: 60px;
    background: #ebe8e8;
    border-radius: 10px;
    &__img {
      aspect-ratio: 1 / 1;
      width: 100%;
      position: sticky;
      top: 18%;
      height: fit-content;
      flex: 1 0;
      background: white;
      border-radius: 10px;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
      }
    }
    &__information {
      flex: 1 0;
      padding: 50px 0;
      .title {
        font-size: 30px;
        margin-bottom: 20px;
      }
      .category {
        font-size: 16px;
        color: rgb(78, 78, 78);
        font-style: italic;
      }
      .price {
        font-size: 20px;
        color: rgb(78, 78, 78);
        margin-top: 20px;
      }
      .brand {
        font-size: 16px;
        color: rgb(78, 78, 78);
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .status {
        &::before {
          content: '';
          width: 10px;
          height: 10px;
          display: inline-block;
          border-radius: 50em;
          background: rgb(139, 235, 139);
          margin-right: 10px;
        }
        &--low {
          &::before {
            background: red;
          }
        }
      }
      .description {
        font-size: 16px;
        color: rgb(78, 78, 78);
        margin-bottom: 20px;
      } 
      .tag {
        background: #fff;
        color: rgb(78, 78, 78);
        font-size: 12px;
        border: 1px solid rgb(78, 78, 78);
        border-radius: 5px;
        padding: 5px;
        &__container {
          margin-top: 10px;
          display: flex;
          gap: 10px;
        }
      }
      .note {
        font-size: 14px;
        color: rgb(78, 78, 78);
        margin-top: 20px;
        &::before {
          content: '*';
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
  }
  &.dark {
    background: #333;
    .header {
      background: #000;
      color: #fff;
      a {
        color: #fff;
      }
      .themeBtn {
        background: #000;
        border: 1px solid #fff;
        color: #fff;
        &:hover {
          background: #333;
        }
      }
    }
  }
}